html,body{
    background-image: url("musicback.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-color: rgb(176, 176, 176);
}

.center {
    margin: auto;
    width: 50%;
    padding: 120px 0;
  }

.jukebox{
    position: relative;
    width: 1035px;
}

ul{
    display:flex;
    list-style-type: none;
}

.box{
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: 100px;
    background-color:transparent;
    padding: 5px;
    display: inline-block;
    font-size: 20px;
    border: 3px solid black;
    opacity: 0.4;
    align-content: center;
    margin-left: 10px;
}

.box:hover{
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform:scale(1.1);
}

@media screen and (max-width: 1154px) {
    .text-desc {
        display: none;
    }
    .jukebox {
        width: 855px;
    }
    .box {
        width: 60px;
    }
}

@media screen and (max-width: 900px) {
    .jukebox {
        width: 585px;
    }
    .box {
        width: 30px;
    }
}